@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Онлайн-система управления для отелей</h1>
    <p class="lead">
        <h3 class="card-title">Получайте преимущества, когда Вы бронируете номер!</h3><br />
        <div class="row">
            <div class="col-md-4">
                <span class="glyphicon glyphicon-usd">Самая низкая цена</span>
            </div>
            <div class="col-md-4">
                <h3><span class="glyphicon glyphicon-phone">Электронная регистрация</span></h3>
            </div>
            <div class="col-md-4">
                <span class="glyphicon glyphicon-globe">Воспользуйтесь бесплатным доступом к Wi-Fi Интернету</span>
            </div>
        </div>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Контроль деятельности отелей</h2>
        <p>
            <span class="glyphicon glyphicon-minus">
                Панель управления отелями
            </span>
            <span class="glyphicon glyphicon-minus">
                Добавление и удаление отлей
            </span>
            <span class="glyphicon glyphicon-minus">
                Добавление и управление номерным фондом
            </span>
            <span class="glyphicon glyphicon-minus">
                Добавление и управление банкетными залами
            </span>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Преимущества Hotel System Managment</h2>
        <p>
            <span class="glyphicon glyphicon-minus">
                Удобный поиск нужного отеля
            </span>
            <span class="glyphicon glyphicon-minus">
                Здесь всегда на виду главные данные о отелях и состоянии номеров.
            </span>
            
        </p>
    </div>
    <div class="col-md-4">
        
            <h2>Управление номерным фондом отеля</h2>
        <p>
            <span class="glyphicon glyphicon-minus">
                Разделение номеров отеля по «типам»
            </span>
            <span class="glyphicon glyphicon-minus">
                Каждый номер, каждое спальное место может иметь свою стоимость в зависимости от категории
            </span>
            <span class="glyphicon glyphicon-minus">
                Для каждого номера, банкетного зала загружено изображение с подробным описанием
            </span>
            
        </p>
    </div>
</div>